.Pokecard {
  width: 250px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, .56);
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.Pokecard-title {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  border-bottom: 1px solid green;
}
.Pokecard-data {
  font-size: 80%;
}